.App {
  text-align: center;
}

.App {
  /* background-color: #282c34; */
  background: url('https://ca.slack-edge.com/T029P2S9M-U0S2QJD42-62348d5b08d9-512');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
